.Hero-section{
    background-image: url(./assets/Images/BgImages/HeroSectionBg.svg);
    background-size: cover;
    width: 100%;
    position: relative;
    
.hero_container{
    display: flex;
    flex-direction: column;
    padding: 0px 200px;
    padding-top: 100px;
    justify-content: center;

  .hero_name{ 
      margin-top: 30px;


}
   .hero_job  {
    margin-top: 10px;
    h2{
   // @include h2;
   color: #ffffff;
   }}
   .hero_job_desc{
       margin-top: 30px;
       width: 50%;
 
   
}

.hero_btn{
margin-top: 60px;
}


}
   
}

@media screen and(max-width:768px) {
    
    .hero_container{
        
        text-align: center;
        padding: 0px 50px !important;
        padding-top: 200px !important;
    }
     .hero_job_desc{
     width: 90% !important;
    
    
    }
    .hero_btn{
        margin-top: 60px;
    display: flex;
    justify-content: center;
    }
}


@media screen and(max-width:767px) {

     .hero_container{
     
        padding: 0px 20px !important;
        padding-top: 200px !important;
    }
}